@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>
<div style="display:flex;justify-content:center;">
    <h1 style="margin-left:20px;">Добро пожаловать в интернет магазин "KingRing"</h1>
   
</div>
@DateTime.Now.ToString("hh:mm:ss");


