@inherits LayoutComponentBase
 @using static BoxingShop.Components.Pages.Products
<BlazoredToasts />
<link href="{YOUR APP ASSEMBLY NAME}.styles.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<header >
    <BoxingShop.Components.Pages.Timer></BoxingShop.Components.Pages.Timer>
</header>

<nav style="margin-left:20px;justify-content:space-between;display:flex;margin:20px;">
    <div>
        <a href="/">Главная</a>
        <a href="products" style="margin-left:20px;">Каталог</a>
    </div>
   <div>
        <button type="button" class="btn btn-primary position-relative">
           Мои покупки
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              0
                <span class="visually-hidden">непрочитанные сообщения</span>
            </span>
        </button>

   </div>
   
</nav>

@Body

<footer>
   
    
  
 

</footer>

@code {
    

}
